# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
engine/Build/Debug/SDL2.dll
engine/Build/Debug/SDL2_image.dll
engine/Build/Debug/SwingTech1.exe
engine/Build/Debug/glew32.dll
engine/Build/Debug/libjpeg-9.dll
engine/Build/Debug/libpng16-16.dll
engine/Build/Debug/libtiff-5.dll
engine/Build/Debug/libwebp-4.dll
engine/Build/Debug/libwinpthread-1.dll
engine/Build/Debug/sphere.obj
engine/Build/Debug/zlib1.dll
engine/cmake-build-debug/CMakeCache.txt
engine/cmake-build-debug/CMakeFiles/3.6.2/CMakeCCompiler.cmake
engine/cmake-build-debug/CMakeFiles/3.6.2/CMakeCXXCompiler.cmake
engine/cmake-build-debug/CMakeFiles/3.6.2/CMakeDetermineCompilerABI_C.bin
engine/cmake-build-debug/CMakeFiles/3.6.2/CMakeDetermineCompilerABI_CXX.bin
engine/cmake-build-debug/CMakeFiles/3.6.2/CMakeRCCompiler.cmake
engine/cmake-build-debug/CMakeFiles/3.6.2/CMakeSystem.cmake
engine/cmake-build-debug/CMakeFiles/3.6.2/CompilerIdC/CMakeCCompilerId.c
engine/cmake-build-debug/CMakeFiles/3.6.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
engine/cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
engine/cmake-build-debug/CMakeFiles/Makefile.cmake
engine/cmake-build-debug/CMakeFiles/Makefile2
engine/cmake-build-debug/CMakeFiles/SwingTech1.dir/DependInfo.cmake
engine/cmake-build-debug/CMakeFiles/SwingTech1.dir/build.make
engine/cmake-build-debug/CMakeFiles/SwingTech1.dir/cmake_clean.cmake
engine/cmake-build-debug/CMakeFiles/SwingTech1.dir/depend.make
engine/cmake-build-debug/CMakeFiles/SwingTech1.dir/flags.make
engine/cmake-build-debug/CMakeFiles/SwingTech1.dir/includes_CXX.rsp
engine/cmake-build-debug/CMakeFiles/SwingTech1.dir/link.txt
engine/cmake-build-debug/CMakeFiles/SwingTech1.dir/linklibs.rsp
engine/cmake-build-debug/CMakeFiles/SwingTech1.dir/objects1.rsp
engine/cmake-build-debug/CMakeFiles/SwingTech1.dir/progress.make
engine/cmake-build-debug/CMakeFiles/TargetDirectories.txt
engine/cmake-build-debug/CMakeFiles/clion-environment.txt
engine/cmake-build-debug/CMakeFiles/clion-log.txt
engine/cmake-build-debug/CMakeFiles/cmake.check_cache
engine/cmake-build-debug/CMakeFiles/demoSwing.dir/CXX.includecache
engine/cmake-build-debug/CMakeFiles/demoSwing.dir/DependInfo.cmake
engine/cmake-build-debug/CMakeFiles/demoSwing.dir/build.make
engine/cmake-build-debug/CMakeFiles/demoSwing.dir/cmake_clean.cmake
engine/cmake-build-debug/CMakeFiles/demoSwing.dir/depend.internal
engine/cmake-build-debug/CMakeFiles/demoSwing.dir/depend.make
engine/cmake-build-debug/CMakeFiles/demoSwing.dir/flags.make
engine/cmake-build-debug/CMakeFiles/demoSwing.dir/includes_CXX.rsp
engine/cmake-build-debug/CMakeFiles/demoSwing.dir/link.txt
engine/cmake-build-debug/CMakeFiles/demoSwing.dir/linklibs.rsp
engine/cmake-build-debug/CMakeFiles/demoSwing.dir/objects.a
engine/cmake-build-debug/CMakeFiles/demoSwing.dir/objects1.rsp
engine/cmake-build-debug/CMakeFiles/demoSwing.dir/progress.make
engine/cmake-build-debug/CMakeFiles/feature_tests.bin
engine/cmake-build-debug/CMakeFiles/feature_tests.c
engine/cmake-build-debug/CMakeFiles/feature_tests.cxx
engine/cmake-build-debug/CMakeFiles/progress.marks
engine/cmake-build-debug/Makefile
engine/cmake-build-debug/SwingTech1.cbp
engine/cmake-build-debug/cmake_install.cmake
engine/cmake-build-debug/libdemoSwing.dll.a

engine/cmake-build-debug/

engine/cmake-build-release/

engine/\.vs/engine/v15/Browse\.VC\.db

engine/\.vs/engine/v15/ipch/AutoPCH/bd591ab91ec62bc1/STGAME\.ipch
