# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
engine/Build/Debug/SDL2.dll
engine/Build/Debug/SDL2_image.dll
engine/Build/Debug/SwingTech1.exe
engine/Build/Debug/glew32.dll
engine/Build/Debug/libjpeg-9.dll
engine/Build/Debug/libpng16-16.dll
engine/Build/Debug/libtiff-5.dll
engine/Build/Debug/libwebp-4.dll
engine/Build/Debug/libwinpthread-1.dll
engine/Build/Debug/sphere.obj
engine/Build/Debug/zlib1.dll
